.creditCardForm {
    width: 380px;
    background-color: #fff;
    margin: -10px auto;
    overflow: hidden;
    padding: 0px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
/*
.creditCardForm .heading h1 {
    color:azure;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
    background: #4ECDC4; 
    background: -webkit-linear-gradient(to top, #556270, #4ECDC4); 
    background: linear-gradient(to top, #556270, #4ECDC4); 
    padding:5px;
}
*/

.creditCardForm .payment {
    float: left;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: 30px;
    padding: 0 10px;
}

.creditCardForm .owner {
    width: 70%;
    margin-right: 10px;
}

.form-group #cvv{
    padding-right: 2px!important;
    padding-left: 2px!important;
}
.creditCardForm .CVV {
    width: 27%;
    margin-top: -40px;
   
}

.creditCardForm #card-number-field {
    width: 95%;
}

.creditCardForm #expiration-date {
    width: 95%;
    
}

.creditCardForm #credit_cards {
    width: 51%;
    
    /*margin-top: 5px;*/
    text-align: left;
}

.creditCardForm  #pay-now {
    width: 100%;
/*    margin-top: 15px;*/
   
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 20px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
 font-size: 15px;
    padding: 0px;
    margin: 0 4px;
/*    width: 50%;*/
}
.creditCardForm #select{
    width: 100%;
    height: 20px;
   
}
.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
	color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.creditCardForm .payment #confirm-purchase{
   margin: 0;
   background-color: red;
   border-radius: 6px;
   font-size: 15px;
}

